.about-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 24px;

    h1 {
        color: var(--white);
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: disc;
    }

    li:hover {
        text-decoration: underline;
    }
}

.styled-link {
    color: inherit;
    text-decoration: none;
}
